button {
    display: block;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	border-radius: 1rem;
}

.books-button {
	display: block;
	width: 90%;
	margin-bottom: 10rem;
	padding: 1rem 0;
	color: #4285be;
	font-size: 1.7rem;
	background: #ffffff;
	border: 2px solid #96c2e4;
	border-radius: 0.5rem;

	&:hover {
		border: 2px solid #e51907;
		color: #e51907;
	}

	&:active {
		border: 2px solid #e51907;
		color: #e51907;
	}
}

.single-book {
	&_price-button {
		width: 100%;
		font-size: 3.26rem;
		line-height: 3.8rem;
		color: #ffffff;
		padding: 2rem 2.5rem;
		border: none;
		background: #774e7a;
		background: -moz-linear-gradient(bottom top, #623a64 0%, #865888 100%);
		background: -webkit-linear-gradient(bottom top,  #623a64 0%, #865888 100%);
		background: linear-gradient(to bottom top,  #623a64 0%, #865888 100%);
		box-shadow: 0 10px 40px #382539;

		&:hover {
			background: -moz-linear-gradient(top, #623a64 0%, #c28dc5 100%);
			background: -webkit-linear-gradient(top,  #623a64 0%, #c28dc5 100%);
			background: linear-gradient(to top,  #623a64 0%, #c28dc5 100%);
		}

		&:active {
			box-shadow: none;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.books-button {
		width: 28rem;
		margin: 0 auto;
		clear: both;
	}

	.single-book {
		&_price-button {
			width: 44rem;
			margin: 0 auto;
			clear: both;
		}
	}
}


