
@mixin eye($bottom) {
	.eye {
			width: 14rem;
			height: 14rem;
			position: absolute;
  			right: 45%;
  			bottom: $bottom;
  			border: 4px solid #000000;
  			background: #ffffff;
  			border-radius: 50%;
  			overflow: hidden;

  			&:after {
  				content: "";
				width: 2rem;
				height: 2rem;
				position: absolute;
  				right: 45%;
  				bottom: 40%;
  				background: #000000;
  				border-radius: 50%;
			}
		}

		.eyelid-up, .eyelid-down {
			width: 14rem;
			height: 7rem;
			position: absolute;
  			right: 0;
  			background: #000000;
  			
  			
		}

		.eyelid-down {
			bottom: -14rem;
			border-radius: 0 0 50% 50%;
			-webkit-animation: eyelidbottom 20s linear 2s infinite;
		    animation: eyelidbottom 20s linear 2s infinite;

		    @-webkit-keyframes eyelidbottom {
				0% {bottom: -14rem;}
				2% {bottom: 0px;}
				4% {bottom: -14rem;}
				100% {bottom: -14rem;}
			}

		    @keyframes eyelidbottom {
				0% {bottom: -14rem;}
				2% {bottom: 0px;}
				4% {bottom: -14rem;}
				100% {bottom: -14rem;}
			}
		}

		.eyelid-up {
			top: -14rem;
			border-radius: 50% 50% 0 0;
			-webkit-animation: eyelidtop 20s linear 2s infinite;
		    animation: eyelidtop 20s linear 2s infinite;

		    @-webkit-keyframes eyelidtop
			{
				0% {top: -14rem;}
				2% {top: 0px;}
				4% {top: -14rem;}
				100% {top: -14rem;}
			}

		@keyframes eyelidtop
			{
				0% {top: -14rem;}
				2% {top: 0px;}
				4% {top: -14rem;}
				100% {top: -14rem;}
			}
		}
}