$margin-book: 6rem;
$margin-block: 4rem;

.header {
	&_logo {
	margin: $margin-block 0;
	height: 4.1rem;
	background: url(../img/sing.png) no-repeat center;
	background-size: contain;
	}

	&_search {
		display: table;
		width: 100%;
    	border-collapse: separate;
		height: 3rem;
	}	

	&_search_loop {
		display: table-cell;
		position: relative;
		width: 35px;
		height: 20px;
		background: url(../img/loope.png) no-repeat center;
		background-size: 70%;
		border: 1px solid #b2b2b2;
		border-radius: 1.5rem;
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input {
		position: relative;
		padding: 0;
		height: 3rem;
		width: 100%;
		border: 1px solid #b2b2b2;
		border-radius: 1.5rem;
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
	.header_search {
		width: 70%;
		margin: 0 auto;
	}
}


@media only screen and (min-width: 1000px) {
	.header {
		&_logo {
			width: 40%;
			margin: $margin-book 0;
			float: left;
			background: url(../img/sing.png) no-repeat left;
		}
		
		&_search {
			width: 30%;
			float: right;
			margin: $margin-book 0;
		}
	}
}

