@import 'header';
@import 'footer';
@import 'buttons';
@import 'eye';

$max-width: 133.6rem;
$min-width: 32rem;
$font-arial: 'Arial', sans-serif;
$margin-block: 4rem;
$margin-book: 6rem;


body, 
div,
p,
h1,
h2,
h3,
h4 {
  	margin: 0;
  	padding: 0;
}

body {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
	font-family: $font-arial;
	color: #333333;
}

html {
	font-size: 10px;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-weight: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

form {
	input.ng-invalid {
    	background-color: pink;
	}

	input.ng-valid {
		background-color: rgb(250, 255, 189);
	}
}

.italic-text {
	font-style: italic;
}

.container {
	width: 94%;
	margin: 0 auto;
	font-size: 1.9rem;
}

.title {
	padding-top: $margin-block;
	padding-bottom: $margin-block;
	width: 86%;
	margin: 0 auto;
	text-align: center;
}

.book {
	margin: 0 auto;
	text-align: center;
	margin-bottom: $margin-book;
	

	&_info {
		width: 90%;
		margin: 0 auto;
		padding-top: 2rem;
		line-height: 2.6rem;

		h4 {
			color: #4c4c4c;
			font-weight: normal;

			&:hover u {
				color:#e51907;
			}
		}

		u {
			color: #4285be;
		}
	}

	&_description {
		width: 90%;	
		font-size: 2.3rem;
		padding-top: 4rem;
		margin: 0 auto;
		line-height: 3.4rem;

		strong {
			color: #fc5454;
		}
	}

	img {
		width: 66%;
		box-shadow: 8px 8px 40px #333333;
	}
}

.book-hover {
	&:hover {
			transform: scale(1.1);
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-o-transform: scale(1.1);
			cursor: pointer;
	}
}

.advantages {
	margin: 0 auto;
	margin-bottom: $margin-book;
	text-align: center;
	width: 100%;
	

	img {
		width: 21rem;
		height: 21rem;
	}

	&_description {
		padding-top: 2.5rem;
		font-size: 2.1rem;
		line-height: 3.2rem;

		h4 {
			display: inline-block;
			width: 70%;
		}
	}


}

.single-book {
	.book {
		img {
			width: 86%;
		}
	}

	&_about {
	margin: 0 auto;
	padding-bottom: 2rem;
	text-align: center;
	width: 85%;

		p {
			display: inline-block;
			padding: 3rem 0 1rem;
			font-size: 1.5rem;
			color: #dcdcdc;	
		}

		span {
			display: inline-block;
			width: 7rem;
			height: 7rem;
			background: url(../img/sprites.png) no-repeat;
			background-position: -450px 0;
		}
	}
}

form {
	display: block;
	padding-top: $margin-block;
	
	label, 
	input,
	textarea {
		display: block;
		width: 85%;
		margin: 0 auto;
	}

	label {
		padding-top: 2rem;
	}

	input, textarea {
		margin-top: 0.7rem;
		padding: 1rem;
	}

	.delivery, .pay {
		width: 87%;
		margin: 0 auto;
		margin-top: 2rem;
		padding-bottom: $margin-book;

		select {
			display: inline-block;
			width: 100%;
			margin-top: 0.7rem;
			font-size: 1.6rem;
		}

	}
}

.message {
	display: block;
	padding: 2rem 0;
	text-align: center;
}

.about {
	width: 86%;
	margin: 0 auto;

	h2 {
		padding-top: $margin-block;
	}

	h3 {
		padding-top: 1rem;
	}

	.lead {
		font-size: 2.3rem;
		line-height: 3.4rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	p {
		padding-top: 2rem;
		line-height: 3.2rem;
	}

	&_founder_item {
		display: inline-block;
		width: 112px;
		height: 112px;
		margin: 2rem 2vw;
		background: url(../img/sprites.png) no-repeat;

	}

	.fry {
		background-position: -150px 0;
	}

	.bender {
		margin-left: 0rem;
		background-position: -300px -150px;
		width: 123px;
		height: 149px;
	}

	.skraffi {
		background-position: 0 0;
	}

	.slizen {
		background-position: -300px 0;
	}

	.kalkulon {
		background-position: -150px -150px;
	}

	.zepp {
		background-position: 0 -150px;
	}

	.incut {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 3rem;
		font-size: 2.8rem;
		font-family: 'Cookie', cursive;
		text-align: center;
		border-top: 1px solid #7d7d7d;
		border-bottom: 1px solid #7d7d7d;

		p {
			display:inline-block;
			width: 80%;
			padding-bottom: 3rem;
		}
	}

	
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
	html {
		font-size: 15px;
	}

	.book {
		width: 49%;
	}


	.about {
		&_founder_item {
			margin: $margin-block  6vw;
		}
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1336px) {
	html {
		
	}

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 4.2rem;
	}

	h3 {
		font-size: 2.4rem;
	}

	input, textarea {
		font-size: 1.6rem;
	}

	.container {
		max-width: 1200px;
	}

	.title {
		width: 90%;
		padding-top: 0;
		padding-bottom: 5rem;
		clear: both;
	}

	.book {
		width: 24%;
		float: right;
	}

	.single-book {
		.book {
			width: 50%;
			clear: both;
			margin-right: 25%;
		}

		.advantage {
   			width: 23%;
    		float: left;
		}

		.feature { 
			position: absolute;
   			width: 20%;
    		float: right;
    		left: 75%;
		}

		.advantages {
			h4 {
				width: 100%;
			}
		}

		@include eye(20rem);
	}

	.single-book_about {
		width: 40%;
	}

	.about {
		max-width: 120rem;
		padding-bottom: 5rem;


		&_base {
			max-width: 64rem;
			margin: 0 auto;
		}

		.lead {
			max-width: 88rem;
			margin: 0 auto;
			font-size: 3.2rem;
    		line-height: 4.8rem;
		}

		.incut {
			margin: 5rem 0;
			padding: 5rem 0;

			p {
				padding: 0;
			}
		}

		h2 {
			padding-top: 5rem;
		}

		h3 {
			padding-top: 3rem;
		}
	}

	.founder {
		width: 130%;
		padding: $margin-book 0;
	}
}

@media only screen and (min-width: 1337px)  {
	html {
		font-size: 13px;
	}

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 4.2rem;
	}

	h3 {
		font-size: 2.4rem;
	}

	input, textarea {
		font-size: 1.6rem;
	}

	.container {
		max-width: 1336px;
	}

	.title {
		width: 100%;
		padding-top: 0;
		padding-bottom: 5rem;
		clear: both;
	}

	.book {
		width: 24%;
		float: right;
	}

	.books-button {
		width: 28rem;
		clear: both;
	}

	.single-book {
		.book {
			width: 50%;
			clear: both;
			margin-right: 25%;
		}

		.advantage {
   			width: 23%;
    		float: left;
		}

		.feature { 
			position: absolute;
   			width: 15.2%;
    		float: right;
    		left: 73%;
		}

		.advantages {
			h4 {
				width: 100%;
			}
		}

		@include eye(0);
	}

	.single-book_about {
		width: 50%;
	}

	.about {
		max-width: 120rem;
		padding-bottom: 5rem;


		&_base {
			max-width: 64rem;
			margin: 0 auto;
		}

		.lead {
			max-width: 88rem;
			margin: 0 auto;
			font-size: 3.2rem;
    		line-height: 4.8rem;
		}

		.incut {
			margin: 5rem 0;
			padding: 5rem 0;

			p {
				padding: 0;
			}
		}

		h2 {
			padding-top: 5rem;
		}

		h3 {
			padding-top: 3rem;
		}
	}

	.founder {
		width: 130%;
		padding: $margin-book 0;
	}
}